@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';



*{
  font-family: 'Lato';
  scroll-behavior: smooth;
}


:root{

  --dark:#141414;
  --bg-white:#F5F5F5;  
  --primary:#BA7894;
  --secondary:#422A3C;
  --light:#F7E5C1;
}

@theme inline{
  --color-dark: var(--dark);
  --color-bg-white: var(--bg-white);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
}
section {
  scroll-margin-top: 5rem; }